body{
    background-color: rgb(193, 82, 240);
}
fieldset{
    text-align: center;
}
#game-container {
    
	margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

#game-layer {
    position: relative;
    width: 500px;
    height: 500px;
    
    border: 5px solid black;
}

.square {
    position: absolute;
    width: 25px;
    height: 25px;
    border: 3px solid black;
}

.red{
    background-color: red; 
}
.blue{
    background-color: blue; 
}

.yellow{
    background-color: yellow;
}

.orange{
    background-color: orange;
}

.green{
    background-color: green; 
}

.purple{
    background-color: purple;
}