*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    list-style: none;
    text-decoration: none;
    color: #1E1E1E;
    background-color: #F4EDED ;
    scroll-behavior: smooth;
    /*font-size: calc(60% + 0.8vmin);*/
}
.cover .ContentName{
    position: absolute;  
    justify-content: center;
    align-content: center;
    align-items: center;
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 120;
}
.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1E1E1E;
    z-index: -1;
}
.logo{
    font-size: 2rem;
    color: #fff;
    background: none; 
    text-decoration: none;
    font-weight: 700;
}
.navbar {
    background: none; 
}
.navbar a{
    font-size: 1.15rem;
    color: #fff;
    background: none; 
    text-decoration: none;
    font-weight: 500;
    margin-left: 5rem;
}
#check {
    display: none;
    background: none; 
}
.icons{
    position: absolute;
    right: 0;
    font-size: 2.8rem;
    color: #ffffff;
    background: none; 
    cursor: pointer;
    display: none;
}
.wordaboutme h1{
    letter-spacing: 8px;
    margin-left: 40%;
    font-size: 48px;  
}
.wordaboutme span{
    color:  #004EFF;
}
.Content p{
    font-size: 24px;
}
.mypic{
    width: 550px;
    border-radius: 140px;
    position: absolute;
    top: 25%;
    left: 5%;  
}
@media screen and (min-width: 1300px) {
    body{
        overflow-x: hidden; 
    }
    .wordaboutme h1{
        margin-top: 120px;
        margin-left: 40%; 
    }
    .wordaboutme span{
        color:  #004EFF;
    }
    .cover .ContentName{
        position: absolute;  
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    .nav-links{
        width: 50%;
    }
    .burger{
        display: none;
    }
    .mypic{
        display: flex;
        width: 450px;
        border-radius: 120px;
        background: none;
        top: 30%;
        left: 20%;
    } 
    .ContentName{
        margin-top: 200px;
    }
    .ContentName p{
        margin-left: 52%;
    }
   
}
@media screen and (max-width: 1300px) {
    .cover .ContentName{
        position: absolute;  
        width: 1000px;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    .wordaboutme h1{
        margin-top: 120px;
        margin-left: 40%; 
    }
    .ContentName h1{
        width: 500px;
        letter-spacing: 8px;
        font-size: medium;
        font-size: 36px;
        align-items: center;
        justify-content: center;
    }
    .burger{
        display: none;
    }
    .mypic{
        display: flex;
        width: 450px;
        border-radius: 120px;
        background: none;
        top: 25%;
        left: 15%;
    } 
    .ContentName{
        margin-top: 250px;
    }
    .ContentName p{
        margin-left: 52%;
    }
    
} 
@media screen and (max-width: 1024px) {
    .cover .ContentName{
        position: absolute;  
        width: 1000px;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    .wordaboutme h1{
        margin-top: 120px;
        margin-left: 40%; 
    }
    .ContentName h1{
        width: 500px;
        letter-spacing: 8px;
        font-size: medium;
        font-size: 36px;
        align-items: center;
        justify-content: center;
    }
    .burger{
        display: none;
    }
    .mypic{
        display: flex;
        width: 400px;
        border-radius: 120px;
        background: none;
        top: 30%;
        left: 10%;
    } 
    .ContentName{
        margin-top: 250px;
    }
    .ContentName p{
        margin-left: 52%;
    }
    
} 
@media screen and (max-width: 830px) {
    .bx {
        background: none;
    }
    .icons{
        display: inline-flex;
        margin-right: 20px;
        background: none; 
    }
    #check:checked~ .icons #menu-icon{
        display: none;
        background: none; 
    }
    .icons #close-icon {
        display: none;
        background: none; 
    }
    #check:checked~ .icons #close-icon{
        display: block;
        background: none; 
    }
    .navbar {
        position: absolute;
        top: 100%; left: 0;
        width: 100%;
        height: 0;
        background: #1E1E1E;
        overflow: hidden;
        transition: .3s ease;
    }
    #check:checked~.navbar{
        height: 20rem;
    }
    .navbar a{
        display: block;
        font-size: 1.5rem;
        padding: 10px;
        margin-right: 80px;
        text-align: center;
    }
    
    .wordaboutme h1{
        letter-spacing: 8px;
        margin-left: 35%;
        margin-top: 15%;
        font-size: 36px;  
    }
    .mypic{
        display: flex;
        width: 400px;
        top: 20%;
        left: 25%;  
    }
    .ContentName{
        margin-top: 60%;
        margin-left: 15%;
    }
    .ContentName p{
        font-size: 18px;
        margin-left: 80px;
    }
  
}
@media screen and (max-width: 750px) {
    .wordaboutme h1{
        letter-spacing: 8px;
        margin-left: 35%;
        margin-top: 15%;
        font-size: 36px;  
    }
    .mypic{
        display: flex;
        width: 400px;
        top: 20%;
        left: 25%;  
    }
    .ContentName{
        margin-top: 70%;
        margin-left: 15%;
    }
    .ContentName p{
        font-size: 18px;
        margin-left: 80px;
    }
  
}
@media screen and (max-width: 670px) {
    .wordaboutme h1{
        letter-spacing: 8px;
        margin-left: 35%;
        margin-top: 15%;
        font-size: 36px;  
    }
    .mypic{
        display: flex;
        width: 350px;
        top: 20%;
        left: 25%;  
    }
    .ContentName{
        margin-top: 80%;
        margin-left: 15%;
    }
    .ContentName p{
        font-size: 18px;
        margin-left: 80px;
    }
  
}
@media screen and (max-width: 540px) {
    .wordaboutme h1{
        letter-spacing: 8px;
        margin-left: 30%;
        margin-top: 20%;
        font-size: 36px;  
    }
    .mypic{
        display: flex;
        width: 350px;
        top: 20%;
        left: 20%;  
    }
    .ContentName{
        margin-top: 90%;
        margin-left: 5%;
    }
    .ContentName p{
        font-size: 18px;
        margin-left: 60px;
    }
  
}
 @media screen and (max-width: 460px) {
    .navbar a{
        font-size: 1.1rem;
        padding: 20px
    }
    .cover .ContentName {
        position: absolute;
        max-width: 420px;
        margin-top: 90%;
        margin-left: 7%;
    }
    .ContentName{
        width: 300px;
        top: 0% ;
        left: 10%;
        align-items: center;
        justify-content: center;
    }
    .ContentName p{
        width: 300px;
        font-size: smaller;
        font-size: 16px;
        margin-left: 40px;
        align-items: center;
        justify-content: center;
    }
    .wordaboutme h1{
        margin-left: 20%;
        margin-top: 25%;
        font-size: 36px;  
    }
    #check:checked~.navbar{
        height: 25rem;
    }
    .ContentName{
        max-width: 300px;
        margin-top: 350px ;
        margin-left: 20px;
    }
    .mypic{
        display: flex;
        width: 300px;
        border-radius: 60px;
        top: 18%;
        left: 15%;  
    }

}
@media screen and (max-width: 360px) {
    .ContentName p{
        width: 280px;

        font-size: smaller;
        font-size: 18px;
        align-items: center;
        justify-content: center;
    }
    .ContentName h1{
        width: 280px;
        letter-spacing: 8px;
        font-size: medium;
        font-size: 24px;
        align-items: center;
        justify-content: center;
    }
    .wordaboutme h1{
        margin-left: 15%;
        margin-top: 30%;
        width: 280px;
        font-size: 36px;  
    }
    #check:checked~.navbar{
        height: 25rem;
    }
    .ContentName {
        width: 200px;
        margin-top: 350px;
        margin-left: 20px;
    }
    .ContentName p{
        font-size: 12px;
    }
    .mypic{
        display: flex;
        width: 280px;
        top: 18%;
        left: 10%;  
    }
}
@media screen and (max-width: 340px) {
    .ContentName h1{
        width: 280px;
        letter-spacing: 8px;
        font-size: medium;
        font-size: 18px;
        align-items: center;
        justify-content: center;
    }
    .wordaboutme h1{
        margin-left: 15%;
        margin-top: 30%;
        width: 280px;
        font-size: 36px;  
    }
    #check:checked~.navbar{
        height: 25rem;
    }
    .ContentName {
        width: 200px;
        margin-top: 300px;
        margin-left: 0px;
    }
    .ContentName p{
        font-size: 12px;
    }
    .mypic{
        display: flex;
        width: 250px;
        top: 18%;
        left: 10%;  
    }
}
@media screen and (max-width: 320px) {
    .ContentName h1{
        width: 280px;
        letter-spacing: 8px;
        font-size: medium;
        font-size: 18px;
        align-items: center;
        justify-content: center;
    }
    .wordaboutme h1{
        margin-left: 12%;
        margin-top: 30%;
        width: 280px;
        font-size: 36px;  
    }
    #check:checked~.navbar{
        height: 25rem;
    }
    .ContentName {
        width: 200px;
        margin-top: 300px;
        margin-left: 0px;
    }
    .ContentName p{
        font-size: 12px;
    }
    .mypic{
        display: flex;
        width: 250px;
        top: 18%;
        left: 10%;  
    }
}
