*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    list-style: none;
    text-decoration: none;
    color: #1E1E1E;
    background-color: #F4EDED;
    /*font-size: calc(60% + 0.8vmin);*/
}
.PortHeader{
    width: 100%;
    min-height: 100vh;
    padding: 10px 10%;
}
.PortHeader nav .texttuii h1{
    width: 10%;
    font-size: medium;
    font-size: 48px;
}
nav  {
    display: flex;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: 0px 50%;
    gap: 100px;
}
nav .navbar-right ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 10px 30%; */
}
nav .navbar-right ul li{
    display: inline-block;
    list-style: none;
    /* margin: 0 34px; */
}
nav ul li {
    font-weight: 400px;
}
.Content{
    margin-top: 10%;
    margin-left: 50%;
    margin-bottom: 10%;
    max-width: 600px;
}
.wordaboutme h1{
    letter-spacing: 8px;
    margin-left: 43%;
    font-size: 48px;  
}
.wordaboutme span{
    color:  #004EFF;
}
.Content p{
    font-size: 24px;
}
.mypic{
    width: 550px;
    border-radius: 140px;
    position: absolute;
    bottom: 0.5%;
    left: 10%;  
}
@media screen and (max-width: 1440px) {
    nav ul{
        padding: 0px 30%;
    }
    .mypic{
        width: 550px;
        bottom: 20%;
        right: 0%;
    }
    
    .ContentName {
        margin-top: 10%;
        max-width: 450px;
    }
    .PortHeader .contact a{
        margin-top: 400px;
    }
    .contact{
        width: 40% ;
        bottom: 40%;
        left: 10% ;
        padding: 5px;
    }

}
@media screen and (max-width: 1024px) {
    nav ul{
        padding: 0px 20%;
    }
    .mypic{
        width: 400px;
        bottom: 38%;
        right: 0%;  
    }
    
    .ContentName {
        margin-top: 10%;
        max-width: 450px;
    }
    .PortHeader .contact a{
        margin-top: 450px;
    }
    .contact{
        width: 40% ;
        bottom: 40%;
        left: 10% ;
        padding: 5px;
    }
    
}
@media screen and (max-width: 768px) {
    nav  {
        display: flex;
    }
    nav ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px;
        padding: 0px 25%;
        gap: 80px;
    }
    .wordaboutme h1{
        letter-spacing: 8px;
        margin-left: 30%;
        font-size: 36px;  
    }
    .mypic{
        display: flex;
        width: 400px;
        bottom: 43%;
        left: 25%;  
    }
    .Content{
        margin-top: 85%;
        margin-left: 0%;
    }
    .Content p{
        font-size: 18px;
        margin-left: 50px;
    }
  
}
@media screen and (max-width: 430px) {
    body{
        width: 425px;
    }
    h1{
        padding: 0px 50px 0px 135px ;
    }
    nav{
        display: grid;
        gap: 20px; 
    }
    nav ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px;
        padding: 0px 5%;
        gap: 20px;
    }
    .wordaboutme h1{
        width: 500px;
        letter-spacing: 8px;
        margin-left: -15%;
        font-size: 24px;  
    }
    .mypic{
        display: flex;
        width: 300px;
        bottom: 45%;
        left: 15%;
        border-radius: 60px;
    }
    
    .Content{
        margin-top: 120%;
    }
    .Content p {
        width: 400px;
        margin-left: 0px;
    }
}
@media screen and (max-width: 380px) {
    nav{
        display: grid;
        margin-left: -40px;
        gap: 20px;
        grid-template-columns: repeat(auto-fit,minmax(350px,auto)); 
    }
    .wordaboutme h1{
        width: 500px;
        letter-spacing: 8px;
        margin-left: -20%;
        font-size: 24px;  
    }
    .ContentName h1 {
        letter-spacing: 4px;
        padding: 0px 50px 0px 0px ;
        font-size: medium;
        font-size: 36px;
    }
    .ContentName span {
        padding: 50px 15px;
        border-radius: 20px;
        color: #F4EDED;
        background-color: #004EFF;
    }
    .mypic{
        display: flex;
        width: 250px;
        bottom: 15%;
        margin-left: 0%;
    }
    .Content{
        margin-top: 125%;
        margin-left: -20px;
    }
    @media screen and (max-width: 325px) {
        .PortHeader {
            padding: 0px 0%;
        }
        .texttuii h1{
            margin-left: -30px;
        }
        h1 {
            margin-left: 10px;
        }
        p{
            margin-left: 10px;
        }
        .ContentName p {
            font-size: 20px;
        }
        nav{
            width: 210px;
            display: grid;
            margin-left: 10px;
            gap: 20px;
            grid-template-columns: repeat(auto-fit,minmax(210px,auto)); 
        }
        .text p {
            width: 310px;
            margin-left: 30px;
            font-size: 18px;
        }
        .Content{
            margin-top: 100%;
           
        }
    }
}
