*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    list-style: none;
    text-decoration: none;
    color: #1E1E1E;
    /* background-color: #F4EDED; */
    scroll-behavior: smooth;
    /*font-size: calc(60% + 0.8vmin);*/
}
body{
    background-color: #F4EDED; 
}
.PortHeader{
    width: 100%;
    min-height: 100vh;
    padding: 10px 10%;
}
.PortHeader nav .texttuii h1{
    width: 10%;
    font-size: medium;
    font-size: 48px;
}
nav  {
    display: flex;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: 0px 50%;
    gap: 100px;
}
nav .navbar-right ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
nav .navbar-right ul li{
    display: inline-block;
    list-style: none;
    /* margin: 0 34px; */
}
nav ul li {
    font-weight: 400px;
}
.wordmyskill h1{
    letter-spacing: 8px;
    margin-left: 30%;
    font-size: 48px;  
}
.wordmyskill span{
    color:  #004EFF;
}
.popup-image{
    display: none;
}
.container .image-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 0px;
    margin-top: 50px;
}
.container .image-container .image{
    height: 350px;
    width: 350px;
    border: 10px solid #fff;
    border-radius: 3px;
    box-shadow: 0 5px 15px rgb(0,0,0,0.1);
    overflow: hidden;
    cursor: pointer;
}
.container .image-container .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.2s linear;
}
.container .image-container .image:hover img{
    transform: scale(1.14);
}
.PortHeader .popup-image{
    position: fixed;
    top: 0; left: 0; 
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    /* display: none; */
}
.PortHeader .popup-image span{
    position: absolute;
    top: 0; right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}
.PortHeader .popup-image img{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    border: 5px solid #fff;
    width: 750px;
    object-fit: cover;
}
@media screen and (max-width: 1440px) {
    nav ul{
        padding: 0px 30%;
    }
}
@media screen and (max-width: 1024px) {
    nav ul{
        padding: 0px 20%;
    }
    .mypic{
        width: 500px;
        bottom: 15%;
        right: 0%;  
    }
    .wordmyskill h1{
        letter-spacing: 8px;
        margin-left: 25%;
        font-size: 48px;  
    }
}

@media screen and (max-width: 768px) {
    .PortHeader{
        padding: 20px 50px;
    }
    .texttuii h1{
        padding: 20px;
    }
    nav  {
        display: flex;
    }
    nav ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px;
        padding: 20px 25px ;
        gap: 80px;
    }
    .wordmyskill h1{
        width: 500px;
        letter-spacing: 8px;
        margin-left: 200px;
        font-size: 36px; 
    }
    .PortHeader .popup-image img{
        width: 95%;
    }
}
@media screen and (max-width: 430px) {
    body{
        width: 430px;
        
    }
    
    .texttuii h1{
        padding: 20px 120px;
    }
    nav{
        display: grid;
        gap: 20px; 
    }
    nav ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px;
        padding: 0px 0%;
        gap: 20px;
    }
    .wordmyskill h1{
        width: 100%;
        letter-spacing: 8px;
        margin-left: 7%;
        font-size: 24px;
    }
    .container .image-container{
        margin-left: 0px;
    }
    .PortHeader .popup-image img{
        width: 95%;
        height: 40%;
    }
    .PortHeader .popup-image span {
        position: absolute;
        top: 240px;
        right: 10px;
        font-size: 60px;
        font-weight: bolder;
        color: #fff;
        cursor: pointer;
        z-index: 100;
    }

}

@media screen and (max-width: 380px) {
    body{
        max-width: 350px;
    }
    .PortHeader {
        width: 100%;
        padding: 0px 0px 0px 0px;
        height: 100%;
    }
    .texttuii h1{
        padding: 20px 190px;
    }
    nav{
        display: grid;
        position: relative;
        margin-left: -50px;
        gap: 5px;
    }
    nav ul{
        margin: 0px;
        padding: 10px 15%;
        gap: 5px;
    }
        .wordmyskill h1{
            padding: 10px 0px 0px 0px;
            width: 350px;
            letter-spacing: 8px;
            margin-left: 10%;
            font-size: 24px;  
        }
    .container .image-container{
        width: 350px;
        margin-left: 12.5px;
    }
    .PortHeader .popup-image img{
        width: 80%;
        height: 50%;
        margin-left: -15px;
    }
    .PortHeader .popup-image span {
        position: absolute;
        top: 70px;
        right: 50px;
        font-size: 60px;
        font-weight: bolder;
        color: #fff;
        cursor: pointer;
        z-index: 100;
    }
    @media screen and (max-width: 325px) {
        .PortHeader {
                padding: 0px 0px  ;
                height: 100%;
            }
            .texttuii h1{
                padding: 20px 180px;
            }
            nav{
                display: grid;
                margin-left: -50px;
                gap: 5px;
            }
            nav ul{
                margin: 0px;
                padding: 10px 15%;
                gap: 5px;
            }
            .wordmyskill h1{
                padding: 10px 0px 0px 0px;
                width: 350px;
                letter-spacing: 8px;
                margin-left: 10%;
                font-size: 24px;  
            }
        .container .image-container{
            width: 350px;
            margin-left: 12.5px;
        }
        .PortHeader .popup-image img{
            width: 80%;
            height: 50%;
        }
        .PortHeader .popup-image span {
            position: absolute;
            top: 300px;
            right: 35px;
            font-size: 60px;
            font-weight: bolder;
            color: #fff;
            cursor: pointer;
            z-index: 100;
        }

}
}
