*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    list-style: none;
    text-decoration: none;
    color: #1E1E1E;
    background-color: #F4EDED ;
    scroll-behavior: smooth;
    /*font-size: calc(60% + 0.8vmin);*/
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 120;
}
.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1E1E1E;
    z-index: -1;
}
.logo{
    font-size: 2rem;
    color: #fff;
    background: none; 
    text-decoration: none;
    font-weight: 700;
}
.navbar {
    background: none; 
}
.navbar a{
    font-size: 1.15rem;
    color: #fff;
    background: none; 
    text-decoration: none;
    font-weight: 500;
    margin-left: 5rem;
}
#check {
    display: none;
    background: none; 
}
.icons{
    position: absolute;
    right: 0;
    font-size: 2.8rem;
    color: #ffffff;
    background: none; 
    cursor: pointer;
    display: none;
}
.ContentName{
    max-width: 960px;
    margin-top: 180px ;
    margin-left: 150px;
}
.ContentName p{
    letter-spacing: 5px;
    font-size: smaller;
    font-size: 24px;
}
.ContentName h1{
    letter-spacing: 8px;
    font-size: medium;
    font-size: 48px;
}
.ContentName span{
    padding: 50px 15px;
    border-radius: 560px;
    color: #F4EDED;
    background: none; 
    background-color: #004EFF;
}
.mypic{
    width: 650px;
    border-radius: 140px;
    position: absolute;
    bottom: 0%;
    right: 5%;  
}
.ContentName .contact a{
    margin-top: 220px;
} 
.contact{
    width: 300px;
    color: #0e3477;

}
.contact a{
    padding: 10px 10%;
}

@media screen and (max-width: 1440px) {
    body{
        overflow-x: hidden;
    }
    .nav-links{
        width: 50%;
    }
    .burger{
        display: none;
    }
    .mypic{
        width: 650px;
        bottom: 15%;
    }
    .ContentName .contact a{
        margin-top: 380px;
    } 
   
}

@media screen and (max-width: 1024px) {
    .burger{
        display: none;
    }
    .mypic{
        width: 400px;
        bottom: 3%;
    }
    .ContentName .contact a{
        margin-top: 350px;
    }
}
@media (max-width: 992px){
    .header{
        padding: 1.3rem 5%;
    }
}
@media screen and (max-width: 768px) {
    .bx {
        background: none;
    }
    .icons{
        display: inline-flex;
        margin-right: 20px;
        background: none; 
    }
    #check:checked~ .icons #menu-icon{
        display: none;
        background: none; 
    }
    .icons #close-icon {
        display: none;
        background: none; 
    }
    #check:checked~ .icons #close-icon{
        display: block;
        background: none; 
    }
    .navbar {
        position: absolute;
        top: 100%; left: 0;
        width: 100%;
        height: 0;
        background: #1E1E1E;
        overflow: hidden;
        transition: .3s ease;
    }
    #check:checked~.navbar{
        height: 20rem;
    }
    .navbar a{
        display: block;
        font-size: 1.5rem;
        padding: 10px;
        margin-right: 80px;
        text-align: center;
    }
    .mypic{
        width: 580px;
        bottom: 5%;
        right: 10%;
    }
    .ContentName .contact a{
        margin-top: 30px;
        margin-left: -45px;
    }
    .contact{
        margin-left: 0px;
        width: 300px;
        color: #0e3477;
    }
    .contact a{
        padding: 0px 16%;
    }
}

@media screen and (max-width: 430px) {
    .navbar a{
        font-size: 1.1rem;
        padding: 20px
    }
    #check:checked~.navbar{
        height: 25rem;
    }
    .ContentName{
        max-width: 400px;
        margin-top: 180px ;
        margin-left: 20px;
    }
    .mypic{
        width: 400px;
        border-radius: 140px;
        position: absolute;
        bottom: 8%;
        right: 2%;  
    }
    .ContentName .contact a{
        margin-top: 20px;
    } 
    .contact{
        width: 300px;
        color: #0e3477;
    
    }
    .contact a{
        padding: 2px 15%;
    }
}

@media screen and (max-width: 380px) {
    .ContentName{
        max-width: 370px;
        margin-top: 180px ;
        margin-left: 10px;
    }
    .ContentName p{
        font-size: 22px;
    }
    .ContentName h1{
        font-size: 40px;
    }
    .mypic{
        width: 400px;
        border-radius: 140px;
        position: absolute;
        bottom: 8%;
        left: 0;
        right: 2%;  
    }
    .ContentName .contact a{
        margin-top: 25px;
    } 
    .contact{
        width: 300px;
        color: #0e3477;
    
    }
    .contact a{
        padding: 2px 15%;
    }
}
    @media screen and (max-width: 325px) {
        .ContentName{
            max-width: 320px;
            margin-top: 180px ;
            margin-left: 5px;
        }
        .ContentName p{
            font-size: 22px;
        }
        .ContentName h1{
            font-size: 32px;
        }
        .mypic{
            width: 320px;
            border-radius: 140px;
            position: absolute;
            bottom: 10%;
            left: 0; right: 10%;  
        }
        .ContentName .contact a{
            margin-top: 30px;
        } 
    }
    
