*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    list-style: none;
    text-decoration: none;
    color: #1E1E1E;
    background-color: #F4EDED ;
    scroll-behavior: smooth;
    /*font-size: calc(60% + 0.8vmin);*/
}
.cover .ContentName{
    position: absolute;  
    justify-content: center;
    align-content: center;
    align-items: center;
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 120;
}
.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1E1E1E;
    z-index: -1;
}
.logo{
    font-size: 2rem;
    color: #fff;
    background: none; 
    text-decoration: none;
    font-weight: 700;
}
.navbar {
    background: none; 
}
.navbar a{
    font-size: 1.15rem;
    color: #fff;
    background: none; 
    text-decoration: none;
    font-weight: 500;
    margin-left: 5rem;
}
#check {
    display: none;
    background: none; 
}
.icons{
    position: absolute;
    right: 0;
    font-size: 2.8rem;
    color: #ffffff;
    background: none; 
    cursor: pointer;
    display: none;
}
.ContentName{
    max-width: 960px;
    top: 20% ;
    left: 50%;
    align-items: center;
    justify-content: center;
}
.ContentName p{
    letter-spacing: 5px;
    font-size: smaller;
    font-size: 24px;
    align-items: center;
    justify-content: center;
}
.ContentName h1{
    letter-spacing: 8px;
    font-size: medium;
    font-size: 48px;
    align-items: center;
    justify-content: center;
}
.ContentName span{
    padding: 50px 15px;
    border-radius: 560px;
    color: #F4EDED;
    background: none; 
    background-color: #004EFF;
}
.mypic{
    width: 600px;
    border-radius: 140px;
    position: absolute;
    top: 15%;
    right: -15%;  
}

.ContentName .contact a{
    margin-top: 220px;
    align-items: center;
} 
.contact{
    width: 300px;
    color: #0e3477;

}
.contact a{
    padding: 10px 10%;
}

@media screen and (min-width: 1440px) {
    body{
        overflow-x: hidden; 
    }
    .cover .ContentName{
        position: absolute;  
        max-width: 960px;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    .ContentName{
        max-width: 960px;
        top: 20% ;
        left: 10%;
        align-items: center;
        justify-content: center;
    }
    .nav-links{
        width: 50%;
    }
    .burger{
        display: none;
    }
    .mypic{
        width: 450px;
        top: 40%;
        right: -50%;
    }
    .ContentName .contact a{
        margin-top: 200px;
    } 
   
} 
 @media screen and (max-width: 1024px) {
    .cover .ContentName{
        position: absolute;  
        width: 900px;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    
    .ContentName{
        top: 20% ;
        left: 10%;
        align-items: center;
        justify-content: center;
    }
    .ContentName p{
        width: 500px;
        letter-spacing: 5px;
        font-size: smaller;
        font-size: 24px;
        align-items: center;
        justify-content: center;
    }
    .ContentName h1{
        width: 500px;
        letter-spacing: 8px;
        font-size: medium;
        font-size: 36px;
        align-items: center;
        justify-content: center;
    }
    .burger{
        display: none;
    }
    .mypic{
        width: 450px;
        top: 15%;
        right: 0%;
    }
    .ContentName .contact a{
        margin-top: 250px;
        margin-left: 0px;
    }
} 
@media (max-width: 992px){
    .header{
        padding: 1.3rem 5%;
    }
}
@media screen and (max-width: 768px) {
    .bx {
        background: none;
    }
    .icons{
        display: inline-flex;
        margin-right: 20px;
        background: none; 
    }
    #check:checked~ .icons #menu-icon{
        display: none;
        background: none; 
    }
    .icons #close-icon {
        display: none;
        background: none; 
    }
    #check:checked~ .icons #close-icon{
        display: block;
        background: none; 
    }
    .navbar {
        position: absolute;
        top: 100%; left: 0;
        width: 100%;
        height: 0;
        background: #1E1E1E;
        overflow: hidden;
        transition: .3s ease;
    }
    #check:checked~.navbar{
        height: 20rem;
    }
    .navbar a{
        display: block;
        font-size: 1.5rem;
        padding: 10px;
        margin-right: 80px;
        text-align: center;
    }
    .mypic{
        width: 580px;
        top: 80%;
        right: 5%;
    }
    .cover .ContentName {
        position: absolute;
        width: 600px;
    }
    .ContentName .contact a{
        margin-top: 30px;
        margin-left: -45px;
    }
    .contact{
        margin-left: 0px;
        width: 300px;
        color: #0e3477;
    }
    .contact a{
        padding: 0px 16%;
    }
}

@media screen and (max-width: 430px) {
    .navbar a{
        font-size: 1.1rem;
        padding: 20px
    }
    .cover .ContentName {
        position: absolute;
        width: 300px;
    }
    .ContentName{
        top: 0% ;
        left: 10%;
        align-items: center;
        justify-content: center;
    }
    .ContentName p{
        width: 300px;
        letter-spacing: 3px;
        font-size: smaller;
        font-size: 24px;
        align-items: center;
        justify-content: center;
    }
    .ContentName h1{
        width: 300px;
        letter-spacing: 8px;
        font-size: medium;
        font-size: 30px;
        align-items: center;
        justify-content: center;
    }
    #check:checked~.navbar{
        height: 25rem;
    }
    .ContentName{
        max-width: 300px;
        margin-top: 125px ;
        margin-left: -20px;
    }
    .mypic{
        width: 300px;
        border-radius: 20px;
        position: absolute;
        top: 125%;
        right: -10%;  
    }
    .ContentName .contact a{
        margin-top: 20px;
    } 
    .contact{
        width: 300px;
        color: #0e3477;
    
    }
    .contact a{
        padding: 2px 15%;
    }
}
@media screen and (max-width: 320px) {
    .ContentName p{
        width: 280px;
        letter-spacing: 5px;
        font-size: smaller;
        font-size: 24px;
        align-items: center;
        justify-content: center;
    }
    .ContentName h1{
        width: 280px;
        letter-spacing: 8px;
        font-size: medium;
        font-size: 28px;
        align-items: center;
        justify-content: center;
    }
    .ContentName .contact a{
        margin-top: 25px;
    } 
    .mypic{
        width: 280px;
        border-radius: 20px;
        position: absolute;
        top: 125%;
        right: 10%;  
    }
}

 
    
