*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    list-style: none;
    text-decoration: none;
    color: #1E1E1E;
    background-color: #F4EDED;
    scroll-behavior: smooth;
    /*font-size: calc(60% + 0.8vmin);*/
}
.PortHeader{
    width: 100%;
    min-height: 100vh;
    padding: 10px 10%;
}
.PortHeader nav .texttuii h1{
    width: 10%;
    font-size: medium;
    font-size: 48px;
}
nav  {
    display: flex;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: 0px 50%;
    gap: 100px;
}
nav .navbar-right ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 10px 30%; */
}
nav .navbar-right ul li{
    display: inline-block;
    list-style: none;
    /* margin: 0 34px; */
}
nav ul li {
    font-weight: 400px;
}

.wordmyskill h1{
    letter-spacing: 8px;
    margin-left: 43%;
    font-size: 48px;  
}
.wordmyskill span{
    color:  #004EFF;
}
.container{
    max-width: 960px;
    margin: 0 auto;
}
.container h1{
    margin-top: 2rem;
    margin-left: 0.5rem;
}
.container .boxcon {
    display: grid;
    gap: 10px;
    margin-top: 2rem;
    grid-template-columns: repeat(auto-fit,minmax(210px,auto)); 
}
.boxcon .skillsbox {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    color: #1E1E1E;
}
.skillsbox img{
    border-radius: 80px;
    padding: 5px 0;
    width: 150px;
}
@media screen and (max-width: 1440px) {
    nav ul{
        padding: 0px 30%;
    }
}
@media screen and (max-width: 1024px) {
    nav ul{
        padding: 0px 20%;
    }
}
@media screen and (max-width: 768px) {
    .PortHeader{
        padding: 20px 50px;
    }
    .texttuii h1{
        padding: 20px;
    }
    nav  {
        display: flex;
    }
    nav ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px;
        padding: 20px 25px ;
        gap: 80px;
    }
    .wordmyskill h1{
        letter-spacing: 8px;
        margin-left: 30%;
        font-size: 36px;  
    }
    

}
@media screen and (max-width: 430px) {
    body{
        width: 430px;
        
    }
    .texttuii h1{
        padding: 20px 120px;
    }
    nav{
        display: grid;
        gap: 20px; 
    }
    nav ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px;
        padding: 0px 0%;
        gap: 20px;
    }
    .wordmyskill h1{
        width: 500px;
        letter-spacing: 8px;
        margin-left: 25%;
        font-size: 24px;
    }
}
   @media screen and (max-width: 380px) {
    .PortHeader {
        padding: 0px 0px 0px 0px;
        height: 100%;
    }
    .texttuii h1{
        padding: 20px 180px;
    }
    nav{
        display: grid;
        margin-left: -50px;
        gap: 5px;
    }
    nav ul{
        margin: 0px;
        padding: 10px 15%;
        gap: 5px;
    }
    .wordmyskill h1{
        padding: 10px 0px 0px 0px;
        width: 300px;
        letter-spacing: 8px;
        margin-left: 110px;
        font-size: 24px;  
    }
    .ContentName h1 {
        letter-spacing: 4px;
        padding: 0px 50px 0px 0px ;
        font-size: medium;
        font-size: 36px;
    }
    .ContentName span {
        padding: 50px 15px;
        border-radius: 20px;
        color: #F4EDED;
        background-color: #004EFF;
    }
        .container .boxcon{
            margin-right: 50px;
        }
        
    }
    
    @media screen and (max-width: 325px) {
        .PortHeader {
            padding: 0px 0%;
        }
        .texttuii h1{
            margin-left: -80px;
        }
        nav{
            margin-left: 0px;
        }
        nav ul{
            margin: 0px;
            padding: 0px 15%;
        }
        .navbar-right{
            padding-right: 50px;
        }
        h1 {
            margin-left: 0px;
        }
        p{
            margin-left: 0px;
        }
        .ContentName p {
            font-size: 20px;
        }
        nav{
            width: 210px;
            display: grid;
            margin-left: 10px;
            gap: 20px; 
        }
        .wordmyskill h1 {
            padding: 10px 0px 0px 0px;
            width: 300px;
            letter-spacing: 8px;
            margin-left: 80px;
            font-size: 24px;
        }
        .container .boxcon{
            margin-right: 120px;
        }
        
    }

