*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    list-style: none;
    text-decoration: none;
    color: #1E1E1E;
    background-color: #F4EDED;
    scroll-behavior: smooth;
    /*font-size: calc(60% + 0.8vmin);*/
}
.PortHeader{
    width: 100%;
    min-height: 100vh;
    padding: 10px 10%;
}
.PortHeader nav .texttuii h1{
    width: 10%;
    font-size: medium;
    font-size: 48px;
}
nav  {
    display: flex;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: 0px 50%;
    gap: 100px;
}
nav .navbar-right ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 10px 30%; */
}
nav .navbar-right ul li{
    display: inline-block;
    list-style: none;
    /* margin: 0 34px; */
}
nav ul li {
    font-weight: 400px;
}

.wordmyskill h1{
    letter-spacing: 8px;
    margin-left: 43%;
    font-size: 48px;  
}
.wordmyskill span{
    color:  #004EFF;
}
.content {
    width: 100%;
    height: 850px;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 20px;
    padding: 50px;
}

.image {
    position: relative;
    overflow: hidden;
}

.image__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.25s;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    /* color: #ffffff; */
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image:hover .image__img {
    transform: scale(1.1);
}

.image:hover .image__overlay {
    opacity: 0.7;
}

.image__overlay--primary {
    background: rgba(0, 0, 0, 0.6);
}

.image__overlay>* {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image:hover .image__overlay>* {
    transform: translateY(0);
}

.image__title {
    font-size: 1.5em;
    font-weight: bold;
}

.image__title a{
    color: #ffffff;
}

.image__description {
    font-size: 1em;
    margin-top: 0.25em;
}

.double-box {
    grid-column: span 1;
    display: flex;
    gap: 20px;
}
@media screen and (max-width: 1440px) {
    nav ul{
        padding: 0px 30%;
    }
}
@media screen and (max-width: 1024px) {
    nav ul{
        padding: 0px 20%;
    }
    .content {
        width: 100%;
        height: 650px;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(210px,auto));
        margin-left: 0px;
        gap: 20px;
    }
    
    .image {
        position: relative;
        overflow: hidden;
    }
    
    .image__img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.25s;
    }
    
}
@media screen and (max-width: 768px) {
    .PortHeader{
        padding: 20px 50px;
    }
    .texttuii h1{
        padding: 20px;
    }
    nav  {
        display: flex;
    }
    nav ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px;
        padding: 20px 25px ;
        gap: 80px;
    }
    .wordmyskill h1{
        width: 500px;
        letter-spacing: 8px;
        margin-left: 200px;
        font-size: 36px; 
    }
    .content {
        width: 100%;
        height: 800px;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(210px,auto));
        margin-left: 0px;
        gap: 20px;
    }
    
    .image {
        position: relative;
        overflow: hidden;
    }
    
    .image__img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.25s;
    }
}
@media screen and (max-width: 430px) {
    body{
        width: 430px;
        
    }
    .texttuii h1{
        padding: 20px 120px;
    }
    nav{
        display: grid;
        gap: 20px; 
    }
    nav ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px;
        padding: 0px 0%;
        gap: 20px;
    }
    .wordmyskill h1{
        width: 500px;
        letter-spacing: 8px;
        margin-left: 25%;
        font-size: 24px;
    }
    .content {
        width: 100%;
        height: 1250px;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(210px,auto));
        gap: 20px;
    }
    
    .image {
        position: relative;
        overflow: hidden;
    }
    
    .image__img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.25s;
    }
}
    @media screen and (max-width: 380px) {
        .PortHeader {
            padding: 0px 0px 0px 0px;
            height: 100%;
        }
        .texttuii h1{
            padding: 20px 180px;
        }
        nav{
            display: grid;
            margin-left: -50px;
            gap: 5px;
        }
        nav ul{
            margin: 0px;
            padding: 10px 15%;
            gap: 5px;
        }
        .wordmyskill h1{
            padding: 10px 0px 0px 0px;
            width: 300px;
            letter-spacing: 8px;
            margin-left: 110px;
            font-size: 24px;  
        }
        .ContentName h1 {
            letter-spacing: 4px;
            padding: 0px 50px 0px 0px ;
            font-size: medium;
            font-size: 36px;
        }
        .ContentName span {
            padding: 50px 15px;
            border-radius: 20px;
            color: #F4EDED;
            background-color: #004EFF;
        }
        .content {
            margin-left: -25px;
        }
        
    }

    @media screen and (max-width: 325px) {
        .PortHeader {
            padding: 0px 0%;
        }
        .texttuii h1{
            margin-left: -80px;
        }
        nav{
            margin-left: 0px;
        }
        nav ul{
            margin: 0px;
            padding: 0px 15%;
        }
        .navbar-right{
            padding-right: 50px;
        }
        h1 {
            margin-left: 0px;
        }
        p{
            margin-left: 0px;
        }
        .ContentName p {
            font-size: 20px;
        }
        nav{
            width: 210px;
            display: grid;
            margin-left: 10px;
            gap: 20px; 
        }
        .wordmyskill h1 {
            padding: 10px 0px 0px 0px;
            width: 300px;
            letter-spacing: 8px;
            margin-left: 80px;
            font-size: 24px;
        }
        .content {
            margin-left: -50px;
        }
        
    }

