@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Quintessential&display=swap');
body {
    /* background: rgb(229, 255, 0); */
    background-size: 100% 100%;
    /* animation: gradient 15s ease infinite; */
    height: 80vh;
}

fieldset {
    background-color: rgb(185, 68, 235);
    border: 0;
    box-sizing: border-box;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 10px;
    text-align: center;
    margin: 100px;
    padding-top: 20px;
}

fieldset span1 {
    /* color: red; */
    font-size: 20px;
}

legend {
    background-color: rgb(177, 33, 190);
    color: rgb(255, 255, 255);
    padding: 50px 50px;
    font-size: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 11px 7px 17px 0px rgba(0, 0, 0, 0.441);
}

input {
    margin: 10px;
}

.Register {
    border-radius: 20px;
}

.buttonStyle1 {
    border-radius: 10px;
    border: 0;
    width: 80px;
    height: 30px;
    color: rgb(198, 65, 225);
}
.buttonStyle1:hover {
    box-shadow: 11px 7px 17px 0px rgba(0, 0, 0, 0.75);
}

.buttonStyle2 {
    margin-top: 20px;
    border-radius: 10px;
    border: 0;
    width: 80px;
    height: 30px;
    color: rgb(214, 65, 225)
}

.buttonStyle2:hover {
    box-shadow: 11px 7px 17px 0px rgba(0, 0, 0, 0.75);
}

.buttonStyle3 {
    display: flex;
    border-radius: 10px;
    border: 0;
    width: 200px;
    height: 30px;
    align-items: center;
    font-style: 20px;
    text-align: center;
    margin: auto;
    justify-content: center;
    color: rgb(202, 68, 173)
}

.buttonStyle3:hover {
    box-shadow: 11px 7px 17px 0px rgba(0, 0, 0, 0.75);
}
